<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tucao</key>
	<array>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string>至少还有你</string>
			<key>lyric</key>
			<string>我怕不及格,我要靠著你,直到看著你的试卷,有了墨水的痕迹,抄了后也要看著你,直到感觉你的笑颜,有了做对的表情,直到视线变得清晰,让我们越坐越近,如果监考官有时可以出去,至少我还能,抄得比较安心,也许考试铃马上就要响起,就是不愿意,放弃最后的生机,我没抄的题我总记得在哪里</string>
		</dict>
		<dict>
			<key>type</key>
			<string>3</string>
			<key>title</key>
			<string>十年</string>
			<key>lyric</key>
			<string>人力资源部亲爱的朋友,求求你能高抬贵手,应聘之前,我不认识你,你没见过我,你对我的了解,仅仅停留在那份简历之中,真正的交流还在后头,应聘之后,我们是朋友天天来问候,因为你的选择,让你找到了升职的理由</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string>心太软</string>
			<key>lyric</key>
			<string>我总是心太懒心太懒,天黑到天亮只知道玩,我不痛不痒地浪费着时间,我知道我根本没那么匆忙,我总是心太懒心太懒,把所有时间都用在玩,说得总是简单做起太难,应该学习就别再偷懒</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string>学习</string>
			<key>lyric</key>
			<string>夜深了我还不想睡,你还在背着英语,你这样学习到底累不累,明知道总不会去留美,只不过想提高一点成绩,可惜他无法得到满分,多余的牺牲老天不懂心疼,我应该不会只想六十多分,哦学习吧快开始学习吧,该学就学再玩也没有用,痴痴地玩我只会考零蛋,你总该为自己想想未来</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string>春天里</string>
			<key>lyric</key>
			<string>还记得许多年前的春天,那时的我还没去读书,没有作业本也没有书,没有二十四小时写不完的作业,看当初的日子是多么快乐,虽然只有一台二手电脑,在街上在桥下在田野中,玩着那无人问津的游戏,如果有一天我小学毕业,请把我留在在那电脑里,如果有一天我初中毕业,请把我埋在在那网吧里</string>
		</dict>
		<dict>
			<key>type</key>
			<string>3</string>
			<key>title</key>
			<string>当</string>
			<key>lyric</key>
			<string>当键盘没有棱角的时候,当鼠标不在滚动,当风扇停住不再转动,当电脑都烧为虚有,我还是不能和你分手,不能和你分手,你的笑容是我今生最大的守候,当光驱不再读盘的时候,当硬盘不在驱动,当声卡不响不亮,当显示器都没有图像,我还是不能和你分散,不能和你分散,你的温柔是我今生最大的眷恋,让我们网上做伴,活得潇潇洒洒</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string>千里之外</string>
			<key>lyric</key>
			<string>教室如沧海,换座如阴霾,静静地散开,高又壮变态,导演了意外,你竟然过来,真是爽歪歪,烦恼解不开,说不清无奈,你听不出来,每一句滚开,是我在感慨,上学来是谁在主宰,让情节展开,那和你一桌的悲哀,居然都不能拆</string>
		</dict>
		<dict>
			<key>type</key>
			<string>3</string>
			<key>title</key>
			<string>求你删掉我</string>
			<key>lyric</key>
			<string>莫名其妙手机冒出陌生的网号,微信扣扣轮番广告,减肥吧保养吧,不然老公找小三迟早把你抛,异口同声別家的产品劣质糟糕,你看我家的全球畅销,内服吧外用吧,保你青春美貌老公围着绕,微信吵扣扣闹,开门全是狗皮膏药,删掉又来除掉又冒,难道不买你家产品我小命要掉</string>
		</dict>
		<dict>
			<key>type</key>
			<string>3</string>
			<key>title</key>
			<string>涨啦涨啦</string>
			<key>lyric</key>
			<string>涨啦涨啦又涨啦,不是股票是肉价,猪肉一天一个价,可谓天价可谓天价,猪肉频频涨价,生活压力增大,我紧紧捂住,干瘪的荷包,可总是管不住,自己那张馋嘴吧,猪肉频频涨价,生活压力增大,我紧紧捂住,干瘪的荷包,可总是管不住,自己那张馋嘴吧</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string>不想学习</string>
			<key>lyric</key>
			<string>睁眼就是几何,闭眼梦见星河,对学习并不饥渴,跟手机打得火热,文言文读着饶舌,学英语可我爱国,学政治我不治国,学地理又不让我游遍大好山河,所有老师都说,我的作业真不多,可你有没有想过,我们一共有九科</string>
		</dict>
	</array>
	<key>zhufu</key>
	<array>
		<dict>
			<key>type</key>
			<string>5</string>
			<key>title</key>
			<string>妈妈您辛苦啦</string>
			<key>lyric</key>
			<string>妈妈妈妈我爱您亲爱的妈妈,你用甘甜的乳汁把我抚养大,扶我学走路教我学说话,教我做人鼓励我学文化,妈妈妈妈我爱您亲爱的妈妈,操心费力把我养大您辛苦啦,忙忙碌碌屋里屋外打理这个家,不知不觉鬓角又多了几丝白发,无论我走到哪里都记得她的话,无论到什么时候都不忘我的妈,衷心的祝愿她老人家健康长寿,养育之恩比海还深儿一定报答</string>
		</dict>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>title</key>
			<string>祝愿</string>
			<key>lyric</key>
			<string>人与人之间,若说是无缘又怎会在此相见,人与人之间,若说是有缘又怎不珍惜眼前,为什么总等到失去从前,才知道什么是为时已晚,为什么总等无力再抱怨,才明白生命是一场修炼,我祝愿天下的人都能懂得惜缘,有情的人一线牵,我祝愿爱我的人和我爱的人儿,幸福快乐到永远,我祝愿在我们匆促的有生之年,不谈殇只诉温暖,我祝愿在这阳光普照的人世间,大爱无边一切圆满</string>
		</dict>
		<dict>
			<key>type</key>
			<string>3</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>轻嗅花香心灿烂,手捧捷报乐无限,十年磨剑放光芒,今朝实现好梦想,勇攀高峰云深处,探求学海乐无数,志向高远再远航,明朝学成是栋梁</string>
		</dict>
		<dict>
			<key>type</key>
			<string>3</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>大鹏一日随风起,扶摇而上九万里,慕鸿鹄树千里高志,迎六月展万里鲲鹏,一颗平常心,一腔凌云志,心中的你定能金榜题名,锦衣凯旋归</string>
		</dict>
		<dict>
			<key>type</key>
			<string>4</string>
			<key>title</key>
			<string>问候</string>
			<key>lyric</key>
			<string>渐渐变冷的天气,想知道远方你的消息,是否注意身体照顾好自己,生活工作的压力,我不能为你代替,送上关心的话语几句</string>
		</dict>
		<dict>
			<key>type</key>
			<string>4</string>
			<key>title</key>
			<string>早上好</string>
			<key>lyric</key>
			<string>扎一束曙光,用第一颗露珠的蒸汽作缚,点缀初次绽放的那颗花苞,让第一只早起的鸟儿,在新的一年的第一天,成为你第一眼看见的美好开始</string>
		</dict>
		<dict>
			<key>type</key>
			<string>4</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>家和睦,人似仙,潇洒走人间,酒当歌,曲轻弹,霓霞舞翩翩,花儿美,碧水莲,日月彩云间,梦成真,福禄全,平安每一天</string>
		</dict>
		<dict>
			<key>type</key>
			<string>4</string>
			<key>title</key>
			<string>祝愿你幸福安康</string>
			<key>lyric</key>
			<string>又是一个孤独的秋夜,凄凉的风将美丽的枫叶,无情的摧毁,纷纷扬扬飘落的岁月,寄出了心灵深处的忧伤,一阵阵风把荒凉的心诉说,茫然中我想起远方的你,记忆里传来青春的笑声,甜甜蜜蜜的写满了,充满激情的爱情,和那一片盛开的兰花,那一片浓浓的枫叶</string>
		</dict>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>title</key>
			<string>情人节祝福</string>
			<key>lyric</key>
			<string>茫茫人海中我们相遇,相遇以后就成了知已,风里雨里我们在一起,坎坷崎岖一起去经历,滚滚红尘中我们相遇,相遇以后就恋上了你,风和日丽我们在一起,美好生活一起去努力,在这个美丽的情人节里,我把爱你的情歌送给你,无论你的人在哪里,爱你的心坚定不移,在这个美丽的情人节里,我把真心的祝福送给你,无论你的人在哪里,永远都是我的知已</string>
		</dict>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>title</key>
			<string>情缘祝福</string>
			<key>lyric</key>
			<string>你们曾经走过的坎坎坷坷,回想曾经经历的拌拌磕磕,没有坎坷哪有现今真爱存活,没有磕绊何来如今的结合,鞠一躬祝你们新婚快乐,祝福日子天天事兴家和,丢去烦闷大路宽阔,一帆风顺万事如意</string>
		</dict>
		<dict>
			<key>type</key>
			<string>4</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>只能祝福,日出日落都一样,明天,没有明天,月圆月缺都一样,长夜,还是长夜,梦醒梦寐都一样,想你,依然想你,有我无我都一样,愿你快乐</string>
		</dict>
	</array>
	<key>wenyi</key>
	<array>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string>抽着烟的爷爷</string>
			<key>lyric</key>
			<string>秋刀鱼摆尾逃窜,而猫被吓傻了眼,吉川爷爷伫立在窗边,抽着戒了很久的烟,榉木铺的地板一尘不染,像奶奶还在的从前,樱花瓣拾满一盘,泡进岁月的酒坛,我在老旧钢琴边无言,轻弹刚成型的和弦,慵风晃过竹帘也都听见,随琴声委婉的思念,当情感泛不起波澜,当孤单成为了习惯,才算明白生活的箴言,直面太难绕开又差点勇敢</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>我们笑了,爱情也笑了,我祈祷明天一定要美好,把温柔,放进口袋里收好,好想时间定格这一秒,一切就无关紧要,我们笑了,爱情却哭了,它告诉我,明天不就是以后,牵过的手</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string>童年的摇篮</string>
			<key>lyric</key>
			<string>梦里又回到了童年摇篮,童年摇篮是幸福的小船,妈妈坐在小船边轻轻划船,呵护着我走进梦的桃花源,梦里又回到了童年摇篮,童年摇篮是幸福的小船,妈妈站在小船边打着雨伞,护佑着我走出多梦的童年,童年的摇篮幸福的小船,小船上装满我儿时的梦幻,妈妈带领我闯过风口浪尖,我顺顺利利驶进幸福港湾,童年的摇篮幸福的小船,小船上留下我最美的眷恋,妈妈带领我闯过急流险滩,我稳稳当当到达幸福彼岸</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>花吻唇雪无声风过留痕,留不住光阴,爱不在人已走缘分已逝,情不知自禁,远方的焰火,一夜间燃烧了我的自信,碎落满地的忧伤,是我苦苦游荡的灵魂,雪在烧心在痛情缘已了,风干了泪痕,爱天长爱地久誓言已碎,疲惫了身影,昨夜的烟花,盛开了一缕苍凉的梦境,我不要这样的结果,我就是要怒放的青春</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>雪花轻轻地飘,我在风中寻找,丢失的往事,还残留着最初的味道,抱紧失落的温柔,舍不得放开你的好,给你的柔情你到底还要不要,雪花漫天地飘,我在风中寻找,难忍的心头,还藏着你当初的骄傲,岁月留不住温柔</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string>幸福小屋</string>
			<key>lyric</key>
			<string>我的梦里有一个小屋,小屋里装满快乐幸福,每次走进这个小屋,心就不会感到孤独,我的心里有一个小屋,小屋里洒满阳光雨露,每次走进这个小屋,就像走进一片净土,这就是我的幸福小屋,亮亮堂堂热热乎乎,这就是我的幸福小屋,百花盛开蝶飞蜂舞,这就是我的幸福小屋,安安静静舒舒服服,这就是我的幸福小屋,平平和和日落日出</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>黑夜的帷幕渐去,天空透出晨曦,旷野展现在眼前,还有旅途的小路弯弯,人们也许不会留意,路旁的小草和乔木,错落有致地行着瞩目礼,欢送着每一个向前者,那些呼呼吹出响声的风,虽连链接群山与河流,却也预告了辛苦和迷蒙,考验每一个人的坚定,在满山红叶绽放的日子,看到了前行者的丰碑,它是拼搏精神的凝聚,仅为实现出发时的宣誓</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>冰冷的面容思想已被掏空,独自生活在这座孤独的城,感觉不到痛连笑都不从容,麻木的心毫无感觉的跳动,寂寞太懵懂和爱恰好相逢,最爱的人走的时候一声不吭,回忆太冰冷我笑着说不痛,那段故事留给失眠的夜感动,爱上一个不该爱的人,为她流泪是不是愚蠢,怪我没天分那么笨,一天天让伤口加深,爱上一个不爱我的人,为她堕落是不是愚蠢,回忆怎么那么残忍,伤害我是痴情的人</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string>黄昏恋歌</string>
			<key>lyric</key>
			<string>夕阳亲吻着山峦,羞红云霞半边天,一对老人漫步林荫道,手牵手未了的心愿慢慢聊,谁在林间吹起委婉的长笛,笛声撩拨的人心醉,春风诉说着年轮不老,晚霞面对你微微笑,一片云朵拥抱月亮,惊得满塘星星躲,老人坐在池塘草地上,背靠背细数着浪漫的过往,谁在这唱起了动听的歌谣,歌里唱着天荒地不老,风风雨雨的辛酸经历,从未轻言说过放弃</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string>化莲</string>
			<key>lyric</key>
			<string>青山翠叠云霞,小桥流水人家,我乘舟荡漾在她的窗下,薇风送爽飘逸她的秀发,盈盈水乡如画,一梦千年繁华,我在画中寻觅一段佳话,清莲如雪恰似她的脸颊,我也化作一朵莲花,轻轻依偎着她轻轻依偎着她,爱在心里面悄悄发芽,只为她守候这美好年华,我也化作一朵莲花,深深依恋着她深深依恋着她,梦在诗意里写满情话,只为她共度这一生芳华</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string>陪你坐上月亮船</string>
			<key>lyric</key>
			<string>茫茫人海与你相见,从此结下不老的情缘,爱的花朵只为你盛开,有你生命才五彩斑斓,滚滚红尘与你相恋,从此约定相爱到永远,爱的花朵只为你盛开,有你人生才花好月圆,陪你坐上月亮船,一起去海角天边,有多长旅程就有多长缠绵,走到哪里爱你都不会改变,陪你坐上月亮船,一起去地北天南,有多少岁月就有多少爱恋,身在何方都把你放在心间</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string>为爱流浪</string>
			<key>lyric</key>
			<string>你曾对我说要有梦想,自你离开后一切变得很荒凉,坐上列车没有机会再返航,从此以后开始流浪,就在这个晚上,才发现你不在身旁,记得说过一起到地老天荒,如今却各安天涯,我们错过了最好的时光,今生注定为爱情而流浪,挥手和你告别擦干泪光,明天就要带着我的爱起航,我们放掉了幸福的时光,以后注定为爱情而彷徨,带着一点遗憾准备起航,奔向那孤独的无尽的远方</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>我的梦,萦绕在淡墨浅韵的江南水乡,我的情,遗落在细雨霏霏的江南雨巷,杏花烟雨的街头,弥漫着一帘疏雨的芳香,撑一把油纸伞,轻轻的</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>红尘漫漫,埋葬了谁深深的眷恋,一卷丹青,扰乱了谁的一纸情殇,相思一曲,幽怨了谁多情的眼眸,望不穿曲终人散的凄凉,写不尽缘起缘灭的沉浮,看不透镜花水月的虚无,谁倾了谁的城,谁负了谁的心,那一抹容颜遗忘在天涯</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>长街长,烟花繁,你挑灯回看,短亭短,红尘辗,我把萧再叹,寄君一曲,不问曲终人聚散,听弦断,断那三千痴缠,坠花湮,湮没一朝风涟</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>都说爱情有如佛家的禅,不可说不可说,一说就是错,木鱼空唱,不听不走不忘,我问佛,能渡苦厄何不渡我,佛说千年一轮回</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>试把榆火传旧灶,寒食春冷轻衫客,碧水琉璃舞乱迷花,徜徉如水似年华,烟雨的江南,氲氤了谁人漫长的等待,在那如荼似火的紫藤萝里,盛开着谁人忧伤灿烂,谁人在如霓似霞的山间游荡,寻找那玉碎香消,如果不曾遇见,谁又曾记得沧海桑田</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>纤陌春花纷若锦,翠柳新枝娆如婷,洛阳桃花十里铺成,隐然遥若胭脂雪,青山路隐横水迢迢,望不断庐州月下桥,风送琴瑟声欲断,只道年华一刀刀</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>开始想念,那曾经握在手中苍凉的岁月,花开花落皆是缘,相聚离别不可免,我知道我知道,我们终究会,朝着各自的世界告别,相遇不是罪,相知没有错与对,不过是,曲终人散,也怪不得谁</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>人海中多少过客匆匆擦肩过,红尘中彼此相遇却难守蹉跎,千年的誓言附和违心的承诺,让爱在风风雨雨中渐渐败落,天空中的一片云轻轻的飘过,山上开满的鲜花你是哪一朵,含苞待放的花蕊我为你执着,让那幸福的花儿为你盛开着,你是我的红尘客从我身边过,多想拉住你的手把爱情诉说,别让梦里才相见让泪流成河,浓浓的思念它已占据我心窝</string>
		</dict>
		<dict>
			<key>type</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>开在屋后,小径幽深明亮,开在山坡,花香随风飘散,开在梦里,醒来走进希望,开在回忆,醉了太多时光,一年年情怀依旧,一天冥思苦想,想起了故人的天真,想起了生活的烂漫</string>
		</dict>
	</array>
	<key>biaobai</key>
	<array>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>一股无名的清泉,流进我心底,在那不经意间,它滋润了我的心田,让我从此爱上了无眠,是谁用温柔手指,拨动了我的心弦,就在那一瞬间,让我告别了孤单,我的心从此就迷恋上蓝天,就让我的思绪伴着清风,随你飘远</string>
		</dict>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>title</key>
			<string>为你种下一颗相思豆</string>
			<key>lyric</key>
			<string>无边的夜弥漫着情柔,缠绵的情围绕在心,虽然我们分别了很久很久,我的爱一直为你守候,思念的雨淌成了河流,多情的风吹来了情愁,虽然我们分别了很久很久,我的爱全部归你所有,为你种下一颗相思豆,爱的路上与你手牵手,一起走出漫长黑夜,一起走进阳光锦绣</string>
		</dict>
		<dict>
			<key>type</key>
			<string>3</string>
			<key>title</key>
			<string>负了天下负了她</string>
			<key>lyric</key>
			<string>手握长剑陪着她舞动,苦练十载仗剑护国城,塞北雪夜过西域风沙行,手握长萧随着心儿响,手握长萧随着心儿响,她等数载我成负情郎,你我隔海角我恨梦太长,明月下银鳞甲厮杀为了她,秦时明月诸子百家,终难破一情杀,我在何时归与家,卸麟甲骑白马欲归家</string>
		</dict>
		<dict>
			<key>type</key>
			<string>4</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>太平山的星星,没有你的眼睛明亮,维多利亚港湾的灯光,没有你的笑容灿烂,没有你的笑容灿烂,唯有你在我心中永不磨灭,你的一颦一笑,一举一动,随时都牵动着我的心房,随时都牵动着我的心房,你的一切,沉甸甸地堆积在我的心房</string>
		</dict>
		<dict>
			<key>type</key>
			<string>4</string>
			<key>title</key>
			<string>今生只爱你</string>
			<key>lyric</key>
			<string>爱上你只在一瞬间,对你付出心甘情愿,尽管只能在梦里相见,我的心依然感到温暖,岁月如梭光阴似箭,对你的爱始终不减,未来的路不管多遥远,我都会把你装在心间,拨开云雾就是晴天,心中有梦一定要圆,缘来缘去不怕昙花一现,今生我只与你相依相伴,拨开云雾就是晴天,心中有爱一定圆满,四季轮回爱你不会改变,今生我只与你相爱相恋</string>
		</dict>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>冰雪冷却不了我对你的爱恋,台风吹散不走我对你的想念,喧哗淹没不了我的对你的心声,黑暗掩盖不了我对你的情深,你的一举一动,让我心潮起伏,时光飞逝,我愿与你厮守终身</string>
		</dict>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>脑海总浮现那张动人的笑脸,两泓秋水常淹没了我的双眼,总想挽住逝水流年,还想回到那个从前,只想把故事定格在瞬间,为什么岁月的刀</string>
		</dict>
		<dict>
			<key>type</key>
			<string>4</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>我的心愿放在你嘴里,感受你的呼吸,我的心愿放在你眼里,与眼神共同跳动,我的心愿放在你手里,心手相连甜如蜜,我的心愿放在你心里,心心相印永不渝</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>我不喜欢酒的苦味,却恋上了醉的感觉,空气中弥漫伤心的烟味,熏得爱情掉眼泪,我不能够勇敢去追,但也不能全身而退,爱一个人是不是像受罪,我却为你痴心不悔我不喜欢酒的苦味,却恋上了醉的感觉,空气中弥漫伤心的烟味,熏得爱情掉眼泪,我不能够勇敢去追</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>你又在为谁偷偷流泪,又在为谁爱到心碎,一厢情愿太可悲,有酒总有人醉,有爱总有泪,有什么能比你更美,你又在为谁偷偷流泪,又在为谁独自伤悲,一往情深的相随,最真的心总是最容易破碎</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>好想是水,把爱化作一片湛蓝,让你在我生命里遨游,浪迹到天涯海角,有了你真好,我是爱琴海的波涛,你尝到的苦涩,是我感恩的泪水,有了你真好,即使生命干涸也不会遗憾烦恼</string>
		</dict>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>title</key>
			<string>守着誓言等待着你</string>
			<key>lyric</key>
			<string>暖暖的风传递着相思气息,细细的雨滋润着浓浓爱意,我与你这场美丽的相遇,是多么温馨是多么甜蜜,痴痴的人等待着与你相聚,柔柔的情涌满了我的心田,好想向你诉说爱的心曲,遥望夜空流下相思泪滴,守着誓言等待着你,等待与你相守相依,亲爱的你如今去了哪里,何时陪我走进爱的天地,守着誓言等待着你,等待与你相爱相惜,亲爱的你是我爱的唯一,我要与你走进爱的花期</string>
		</dict>
		<dict>
			<key>type</key>
			<string>3</string>
			<key>title</key>
			<string>马蹄哒哒</string>
			<key>lyric</key>
			<string>马蹄哒哒血染风沙,为它负尽天下,换不来一句回答,窗台透过月光洒,水中沉淀成镜花,指尖一划,撕裂一幅画,清风带信心破碎,钟声客栈音不退,破碎不退,燃尽此篇撒把灰,过往岁月皆迷醉</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string>爱情回收站</string>
			<key>lyric</key>
			<string>其实你没看见,爱情里也有回收站,只是你别轻易将爱情锁里面,还原次数可有极限,其实不是笑谈,爱情里也有回收站,只是真心相爱的人和它无缘,两个分区两个磁盘,爱情回收站爱情回收站,感情危机时候别忘了还原,常常清理别让病毒上里钻,这就是爱情的观念,爱情回收站爱情回收站,感情危机时侯别忘了还原,常常格机别让内存占空间,这就是爱情的忠言</string>
		</dict>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>那一天,不经意走进了你的视线,心被你深深的射穿,伪装着无事的脸,心装着很平淡,只是不想让你糊想连篇,你被天使插上了翅膀,注定会飞得很远,我不想变成你迷航的船,我每天都在期盼,能和你再次相见,不让时间定格在那个瞬间</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>站在爱情的路口,不要问陪你走多久,只要我们彼此的相守,会陪你把风景看个够,既然牵了你的手,我不会有别的所求,只要我们都十指相扣,我会爱你到天长地久,爱情的路无尽头,风风雨雨一起走,白天和你看细水长流,晚上和你一起数星斗</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>你拉着我的手避开风险,我的路途前行安全,老天让我看不见,是你为我拉开心中的帘,你描绘世界用美丽语言,我的心中美景无限,因为你诲人不倦,得知心灵美是眼中的艳,寒冬有你温暖在心间,酷暑你是绿荫在身边,如生命只有一次让我选,我只愿看你一眼,困苦有你会变得甘甜,黑暗因你光明在眼前,如心愿只有一次让我选,我多想看你一眼</string>
		</dict>
		<dict>
			<key>type</key>
			<string>4</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>夜里,我又悄悄的躲了起来,不让你看到我的忧伤,在寂寞萌芽的树梢上,是月光把我错乱的心收藏,我该如何说出我的爱,在安静的时光,在不吵醒未来的你</string>
		</dict>
		<dict>
			<key>type</key>
			<string>4</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>多少次梦里出现你的身影,多少次独自内心呼唤着你,多少次想对着你说我爱你,幻想与你一起看晨曦,想用诗人的情怀给你浪漫,想以至亲的温暖给你关怀,我都愿赋予你,只期盼你不经意的目光</string>
		</dict>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>你的浅笑印在月亮上,每夜升起散落我身边,窗外融融的夜色,已装不下我无尽的怀念</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>花开一时有诗意,花落一地无声泣,心疏离于红尘,永远盛开着的微笑,梦里的人凝固在我的记忆里,滚滚红尘与变换的岁月里,暮色已深,繁花似锦的彼岸,有我的梦,任凭弱水三千</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string></string>
			<key>lyric</key>
			<string>亲爱的,你是否还记得,操场上我们曾今一起数过的星星,你说我是你眼里最耀眼的星辰,亲爱的,你是否还记得,阳光下我们一起许过的诺言,你说我是你心里最有力的依靠,想牵着你的手到地老天荒,到岁月尽头相视而笑,我们一起把时间晒干了,喝上一杯千年不醉</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string>错爱执着</string>
			<key>lyric</key>
			<string>来来往往谁是谁的过客,滚滚红尘几人能勘破,为爱迷惑套一生枷锁,几多情殇却都无法闪躲,爱来爱去谁种下了苦果,漫漫长路真情又错过,痴心苦涩向谁来诉说,造化弄人谁也无可奈何,错错错谁的错是非究竟为什么,为何这样落魄伤心难过,诺诺诺谁承诺明天谁爱又如何,你给的太多寂寞也是快乐,莫莫莫莫再哭,想你的泪又飘落,痛了依然执着为你心锁,活活活怎样过</string>
		</dict>
	</array>
</dict>
</plist>
