<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tucao</key>
	<array>
		<dict>
			<key>1</key>
			<string>学习</string>
		</dict>
		<dict>
			<key>2</key>
			<string>面试</string>
		</dict>
		<dict>
			<key>3</key>
			<string>生活</string>
		</dict>
	</array>
	<key>biaobai</key>
	<array>
		<dict>
			<key>1</key>
			<string>爱情类</string>
		</dict>
		<dict>
			<key>2</key>
			<string>思念类</string>
		</dict>
		<dict>
			<key>3</key>
			<string>爱古类</string>
		</dict>
		<dict>
			<key>4</key>
			<string>表白类</string>
		</dict>
	</array>
	<key>zhufu</key>
	<array>
		<dict>
			<key>1</key>
			<string>母亲节</string>
		</dict>
		<dict>
			<key>2</key>
			<string>爱情</string>
		</dict>
		<dict>
			<key>3</key>
			<string>学业</string>
		</dict>
		<dict>
			<key>4</key>
			<string>问候</string>
		</dict>
		<dict>
			<key>5</key>
			<string>亲情</string>
		</dict>
	</array>
</dict>
</plist>
