<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CreateSongs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14AB18CD1D35DBCB000FCC16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14AB18E61D35DBCC000FCC16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14AB18F11D35DBCC000FCC16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
