<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>音乐大冒险，感觉耳朵被强奸</string>
	<string>听一次就爱上了！</string>
	<string>好别致的一首歌</string>
	<string>听着歌干活是不是很容易导致离职啊？！！</string>
	<string>这歌名非常符合我最近的心境！！！</string>
	<string>这首歌听着使人充满力量、冲破迂回不前的困难 </string>
	<string>一个全新的认识、新的发现、新的观点</string>
	<string>棒棒哒</string>
	<string>我已经报警了</string>
	<string>这首歌有毒啊</string>
	<string>听完这首歌我想去拯救世界</string>
	<string>来不及解释了快上车</string>
	<string>老司机带带我</string>
	<string>灵魂歌手就是你啊</string>
	<string>耳朵要流产了</string>
	<string>耳朵快怀孕了</string>
	<string>不要拿原曲骗我</string>
	<string>忘记原曲系列</string>
	<string>大大请收下我的膝盖</string>
	<string>麻麻问我为什么跪着听歌</string>
	<string>我是谁我在哪儿</string>
	<string>仿佛灵魂被冷冻</string>
	<string>仿佛身体被掏空</string>
	<string>恩可以互粉吗，求互粉</string>
	<string>新人一枚，求大神来指点~可以给我点建议</string>
	<string>我是萌新~大家快来粉我</string>
	<string>不管你是谁，我都支持你</string>
	<string>歌词好棒哦</string>
	<string>太赞了~么么哒</string>
	<string>23333333</string>
	<string>天哪！！不敢相信居然有这样的歌</string>
	<string>66666666666666</string>
	<string>这首歌让我重拾了活下去的勇气</string>
	<string>人世间最美好的东西莫过于音乐，感谢你让我看到。</string>
	<string>真是一首好歌啊~~字里行间满满的情感。。我都要哭瞎了。</string>
</array>
</plist>
